/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  width: 1440px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: block;
  justify-content: right;
  margin: 0 auto;
  gap: 15px;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  gap: 32px;
  padding: 32px;
}
.nav__item:hover {
  color: none;
  text-decoration: underline;
}
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 13px 30px;
  border: #FCB72B;
  gap: 60px;
  float: right;
  color: white;
  background-color: #FCB72B;
}

@media screen and (max-width: 765px) {
  .nav {
    display: flex;
  }
}
@media screen and (max-width: 460px) {
  .nav {
    display: contents;
  }
}
@media screen and (max-width: 365px) {
  .nav {
    display: inline;
    padding: 5px;
    gap: 5px;
  }
  .header {
    display: list-item;
    justify-content: center;
    padding: 5px;
  }
}
.container {
  width: 1110px;
  display: inline;
  margin: 0 auto;
}

.wrapper {
  display: inline-block;
  justify-content: center;
  justify-content: space-between;
  background-image: url(/images/Wrapper_backround.png);
  background-repeat: no-repeat;
}
.wrapper__list {
  display: inline-block;
  justify-content: center;
  justify-content: space-between;
}
.wrapper__item {
  display: inline;
  justify-content: center;
  gap: 40px;
}
.wrapper__title {
  display: flex;
  padding: 153px 775px 20px 165px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
}
.wrapper__text {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 20px 775px 20px 190px;
  gap: 40px;
}
.wrapper__button {
  display: inline;
  justify-content: center;
  text-align: center;
  padding: 14px 39px;
  margin: 20px 1000px 152px 181px;
  background-color: #FCB72B;
  border-color: #FCB72B;
}

@media screen and (max-width: 765px) {
  .wrapper__list {
    display: inline;
    gap: 5px;
    padding: 5px;
  }
  .wrapper__title {
    display: inline;
    margin: 10px;
  }
}
@media screen and (max-width: 460px) {
  .wrapper__list {
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px auto;
  }
  .wrapper__title {
    text-align: center;
  }
}
@media screen and (max-width: 365px) {
  .wrapper__list {
    display: inline-block;
    gap: 5px;
    padding: 5px;
  }
}
.hero {
  width: 1275px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
}
.hero__container {
  margin: 0 auto;
  display: inline;
  justify-content: center;
}
.hero__list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.hero__item {
  display: block;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
.hero__title {
  display: flex;
  padding: 40px;
}
.hero__text {
  display: flex;
  color: #939CAA;
  padding: 5px;
}

@media screen and (max-width: 765px) {
  .hero__list {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .hero__text {
    display: inline;
    text-align: center;
    padding: 5px;
  }
}
@media screen and (max-width: 465px) {
  .hero {
    display: inline;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .hero__list {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .hero__text {
    display: inline;
    text-align: center;
    padding: 15px;
    gap: 5px;
  }
  .hero__img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-inline-start: 5px;
    margin: 15px;
  }
  .hero__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
  }
}
@media screen and (max-width: 360px) {
  .hero__list {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .hero__text {
    display: inline;
    text-align: center;
    justify-content: center;
  }
  .hero__img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-inline-start: 5px;
    margin: 20px;
  }
  .hero__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
  }
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=main.scss.map */
