.footr{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/footr__backround__img.png);
    &__container{
        display: inline;
        justify-content: center;

    }
    &__button{
      display: flex;
      justify-content: center;
      align-items: center;

    }
    &__button__list{
      display: flex;
      justify-content: center;
      align-items: center;
      
     padding-right: 120px;
     justify-content: space-around;
     gap: 15px;
    //  padding: 25px;
    }
    &__title{
      display: flex;
      width: 415px;
      padding: 80px;
      color: white;
      font-size: 24px;
    }
    
}

.footr__top{
    
    display: flex;
    width:1440px;
    background-color: #333A44;
    justify-content: center;
    align-items: center;

    
    &__button__list{

        display: flex;
        justify-content: center;
        justify-content: space-between;
        gap: 15px;
                
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__title{
        display: inline;
        color: white;
    }
    &__text{
        display: inline;

    }
 
}
@media screen and (max-width: 765px) {
    .footr{
        display: row;
    }
    
}
@media screen and (max-width: 470px) {
    .footr{
        display: row;
        
    }
    
}

@media screen and (max-width: 365px) {
    .footr{
        display: row;
        justify-content: center;
        align-items: center;
    }
    
}

